<div class="container">
    <div class="row">
      <div class="col">
        <span class="medicalarm-title">MedicAlarm</span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="../assets/main_icon.png" alt="Imagen principal MedicAlarm">
      </div>
      <div class="col buttons-col">
        <div class="buttons-container">
          <button onclick="window.location.href='/sign'" routerLinkActive="active">Ingresar</button>
          <button>Registrarse</button>
        </div>
      </div>
    </div>
  </div>