@import '../../styles.scss';

.medicalarm-title{
    font-size: 70px;
    font-weight: bold;
    color: $main-color
}

img{
    width: 500px;
}

.col{
    text-align: center;
}

.buttons-col{
    margin: auto !important;

    .buttons-container{
        display: inline-grid;
    
        button{
            width: 300px;
            height: 100px;
            font-size: 25px;
            color: $white;
            border: none;
            border-radius: 10px;
            margin: 80px;
        }
    }
}

