<div class="container">
    <div class="row">
      <div class="col sign-col-title ">
        <span class="sign-title">REGISTRARSE</span>
      </div>
      <div class="col sign-col-title ">
        <span class="sign-title">INGRESAR</span>
      </div>
    </div>
    <div class="row">
      <div class="col signup">
        <div class="form-group row">
            <div class="col">
                <label for="name-input">Nombre</label>
                <input type="text" class="form-control" id="name-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="age-input">Edad</label>
                <input type="number" class="form-control" id="age-input">
            </div>
            <div class="col">
                <label for="gender-input">Género</label>
                <select class="form-control" id="gender-input">
                    <option>Femenino</option>
                    <option>Masculino</option>
                    <option>Otro</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="email-input">Correo electrónico</label>
                <input type="text" class="form-control" id="email-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="password-input">Contraseña</label>
                <input type="password" class="form-control" id="password-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="password-conf-input">Confirmación de Contraseña</label>
                <input type="password" class="form-control" id="password-conf-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="checkbox" id="tyc-checkbox">
                <span>Aceptar <u>términos y condiciones</u></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="checkbox" id="tyc-checkbox">
                <span>Aceptar <u>política de tratamiento de datos personales</u></span>
            </div>
        </div>
        
            
      </div>
      <div class="col login">
        <div class="form-group row">
            <div class="col">
                <label for="email-login-input">Correo electrónico</label>
                <input type="text" class="form-control" id="email-login-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="password-login-input">Contraseña</label>
                <input type="password" class="form-control" id="password-login-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col forgot-password">
                <span>Olvidé mi contraseña</span>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col signup"><button class="btn btn-primary">REGISTRARSE</button></div>
        <div class="col login"> <button class="btn btn-primary">LOGIN</button></div>
    </div>
  </div>