/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$main-color: #2B5E89;
$white: #FFFFFF;
$main-blue: #316896;
$dark-blue: #265175;
$ligth-blue:#AFC3D6;
$red-color: #D62A20;

button{background-color: $main-blue !important;}

button:hover{background-color:$dark-blue !important;}

button:active{border:7px solid $ligth-blue !important;}